# Ignora ambientes virtuais (Evita imagens de 5GB+)
venv/
env/
.venv/

# Ignora cache do Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Ignora o arquivo de variáveis de ambiente
.env

# Ignora pastas do git e IDEs
.git/
.vscode/
.idea/

# No worker, ignora o banco de dados e imagens temporárias
*.db
*.sqlite3
*.jpg
*.png