# =========================
# Segurança & Ambientes
# =========================
.env
.venv/
venv/
env/

# =========================
# IDEs & Sistema Operacional
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Data 
# =========================
# Python Cache
__pycache__/
.__pycache__/
*.py[cod]

.jpg
.png
models/*.pt
