# =========================
# Segurança & Ambientes
# =========================
.env
.venv/
venv/
env/

# =========================
# IDEs & Sistema Operacional
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Data 
# =========================
data
.jpg
.png

dataset/
placas_binarizadas/
placas_recortadas/
dados_placas.json
dados_placas_validados.json
modelo_placas.pt